@font-face {
    font-family: Inter-Bold;
    src: url(./fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: Inter-Light;
    src: url(./fonts/Inter-Light.ttf);
}

@font-face {
    font-family: Inter-Regular;
    src: url(./fonts/Inter-Regular.ttf);
}

* {
    margin: 0;
    border: none;
    padding: 0;
    text-decoration: none !important;
    outline: none;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.Toastify__toast-container {
    @media screen and (max-width: 767px) {
        width: 100%;
    }
}